{{define "content"}}
<h2>Reset Your Password</h2>

<p>Hello {{.Username}},</p>

<p>We received a request to reset your password for your Blog Platform account. Click the button below to create a new password:</p>

<a href="{{.Link}}" class="button">Reset Password</a>

<p>If the button doesn't work, you can copy and paste this link into your browser:</p>
<div class="token">{{.Link}}</div>

<p>This password reset link will expire in 1 hour for security reasons.</p>

<p>If you didn't request a password reset, please ignore this email. Your password will remain unchanged.</p>

<p>Best regards,<br>The Blog Platform Team</p>
{{end}} 